[submodule "packages/hindent"]
	path = packages/hindent
	url = http://github.com/chrisdone/hindent.git
[submodule "packages/company-coq"]
	path = packages/company-coq
	url = https://github.com/cpitclaudel/company-coq.git
